<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta charset="utf-8">
</head>
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
    body {
    {#background-color: rgb(0, 0, 0);#}{#color: rgb(255, 255, 255);#} height: 100vh;
    }

    .search {
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 100;
    }

    .mb-3 {
        width: 20%;
        margin: 0 auto;
        padding-top: 30px;
    }

    #info {
        width: 360px;
        height: 430px;
        background: #f2f2f2;
        position: absolute;
        top: 30px;
        left: 30px;
        z-index: 100;
        display: none;
    }
    .tabs{
        overflow: auto;
        height: 370px;
    }
    .btns{
        margin-top: 10px;
    }
</style>
<body style="height: 100%; margin: 0">
<div class="search">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="cas"
               id="cas"
               value="27514-08-5"
               aria-label="Recipient's username"
               aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-secondary" onclick="search()" type="button">搜索</button>
        </div>
    </div>
</div>
<div id="info">
    <div class="tabs">
        <el-tabs v-model="activeName" @tab-click="handleClick" activeName="1">
            <el-tab-pane
                    v-for="(val, index) in keys"
                    :label="val"
                    :name="index.toString()"
                    :key="index">
                <p v-for="val, i in vals[index].split('\r\n')">{{ val }}</p>
            </el-tab-pane>

        </el-tabs>
    </div>
    <div class="btns">
         <el-button type="primary" @click="sync_btn">合成路线</el-button>
         <el-button type="success" @click="ups_btn">上游</el-button>
         <el-button type="warning" @click="downs_btn">下游</el-button>
    </div>
</div>
<div id="container" style="height: 100%"></div>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
<script type="text/javascript"
        src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>

<script src="/static/tools.js"></script>
<script src="/static/init.js"></script>
<script src="/static/loading.js"></script>
<script src="/static/data.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>

var chart = new GragChart(document.getElementById('container'))
var d = {"nodes": [{"id": "7757-82-6", "name": "7757-82-6", "symbol": "image://http://data.huaxuejia.cn/casimg/757/7757-82-6.png", "symbolSize": 30, "label": {"normal": {"show": true}}}, {"id": ":`7757-82-6pre7664-93-9:1310-73-2`", "name": ":`7757-82-6pre7664-93-9:1310-73-2`", "symbol": "diamond", "symbolSize": 15, "label": {"normal": {"show": true}}}, {"id": "7664-93-9", "name": "7664-93-9", "symbol": "image://http://data.huaxuejia.cn/casimg/664/7664-93-9.gif", "symbolSize": 30, "label": {"normal": {"show": true}}}], "links": [{"source": "7757-82-6", "target": ":`7757-82-6pre7664-93-9:1310-73-2`", "value": "\u5408\u6210\u8def\u7ebf", "name": "\u5408\u6210\u8def\u7ebf", "lineStyle": {"normal": {}}}, {"source": ":`7757-82-6pre7664-93-9:1310-73-2`", "target": "7664-93-9", "value": "\u5408\u6210\u8def\u7ebf", "name": "\u5408\u6210\u8def\u7ebf", "lineStyle": {"normal": {}}}], "type": "\u5408\u6210\u8def\u7ebf"}

chart.showRelaData(d)


</script>
</body>
</html>